<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body> 

    <h1>Create a new destination!</h1>
    <form action= "/transport" method="POST">
        <label for="name">Name:</label>
        <input type="text" name="name" id="name">  
        <label for="type">Type:</label>
        <input type="text" name="type" id="type"> 
        <label for="model">Model:</label>
        <input type="text" name="model" id="model"> 
        <button type="submit">Add transport</button>
          </form>
</body>
</html>

